<% content_for :content do %>
    <h1>Here is a list of posts for a given user</h1>
    <%= render partial: "shared/user_card", locals: {user: @user} %>
    <% @posts.each do |post| %>
      <%= link_to user_post_path(user_id: @user.id, id: post.id), class: 'post_link' do %>
        <%= render partial: "shared/post_card", locals: {post: post} %>
        <%= render partial: "shared/comment_card", locals: { comments: post.recent_comments } %>
      <% end %>
    <% end %>
<%end%>
